@model List<DairyManagementSystem.Models.VendorPayModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddVendorPaySlip</title>
</head>
<style>
    body {
        background-image: url('../../Content/Payment3 Img.jpg');
        background-size: cover;
    }
</style>
<body>
    <ul>
        <li><a href="~/Main/Manager">Home</a></li>
        <li><a href="~/Main/AddNewVendor">Add New Vendor</a></li>
        <li><a href="~/Main/ViewHistory">View History</a></li>
        <li><a href="~/Main/GenerateSlip">Generate Milk PaySlip</a></li>
        <li><a  class="active" href="~/Main/AddVendorPaySlip">Generate Monthly PaymentSlip(Gross Amount)</a></li>
        <li style="float:right"><a href="~/Home/Index">Log out</a></li>
    </ul>
    <a href="~/Main/Manager"><input type="image" src="~/Content/back.png" width="48" height="48" /></a>
    <form method="post">
        <div id="example2">
            <table align="center" cellspacing="10px">
                <tr>
                    <td>
                        <h5>Month</h5>
                    </td>
                    <td>
                        <h5>Year</h5>
                    </td>
                    <td>
                        <h5>Vendor Id</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("month")
                    </td>
                    <td>
                        @Html.DropDownList("year")
                    </td>

                    <td>
                        @Html.DropDownList("UserId", (List<SelectListItem>)ViewBag.vend)
                    </td>
                </tr>
            </table>
            <div style="text-align-last:center"><input type="submit" value="SUBMIT" class="btn btn-default" /></div>
            </div>
    </form>
</body>
</html>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
