
@{
    ViewBag.Title = "ViewMsg";
    Layout = null;
}
<html>
<head>
    <title> Success Message </title>
</head>
<style>
    body {
        background-image: url('../../Content/Payment3 Img.jpg');
        background-size:cover;
    }
</style>
<body>
    <h2 style=" text-align-last:center">Transaction Successful</h2>
    <h5 style=" text-align-last:center">@ViewBag.msg</h5>
</body>
</html>
